---
- name: Install HAProxy
  ansible.builtin.apt:
    name: haproxy
    state: present
    update_cache: true
  tags: ['haproxy', 'balancer']

- name: Render haproxy configuration
  ansible.builtin.template:
    src: haproxy.cfg.j2
    dest: /etc/haproxy/haproxy.cfg
    owner: root
    group: root
    mode: '0644'
    backup: true
  notify: Restart HAProxy
  tags: ['haproxy', 'balancer', 'config']

- name: Ensure HAProxy is enabled and started
  ansible.builtin.service:
    name: haproxy
    state: started
    enabled: true
  tags: ['haproxy', 'balancer', 'service']
