# Managed by Ansible (role: radius-pihole-sync)

# libpq environment variables (Postgres).
PGHOST={{ radius_pihole_sync_pg_host }}
PGPORT={{ radius_pihole_sync_pg_port | int }}
PGDATABASE={{ radius_pihole_sync_pg_db }}
PGUSER={{ radius_pihole_sync_pg_user }}
PGSSLMODE={{ radius_pihole_sync_pg_sslmode }}
PGPASSFILE={{ radius_pihole_sync_pgpass_path }}

# Service configuration.
PG_NOTIFY_CHANNEL={{ radius_pihole_sync_pg_listen_channel }}
PG_CONNECT_TIMEOUT={{ radius_pihole_sync_pg_connect_timeout | int }}
PG_STATEMENT_TIMEOUT_SECONDS={{ radius_pihole_sync_pg_statement_timeout_seconds | int }}

PIHOLE_GRAVITY_DB={{ radius_pihole_sync_gravity_db_path }}
PIHOLE_GROUP_PREFIX={{ radius_pihole_sync_group_prefix }}
PIHOLE_DEFAULT_GROUP={{ radius_pihole_sync_default_group }}
PIHOLE_MANAGED_CLIENT_COMMENT_PREFIX={{ radius_pihole_sync_managed_client_comment_prefix }}

PIHOLE_RELOAD_COMMAND={{ radius_pihole_sync_pihole_reload_command }}
PIHOLE_RELOAD_MIN_INTERVAL_SECONDS={{ radius_pihole_sync_pihole_reload_min_interval_seconds | int }}

SYNC_DEBOUNCE_SECONDS={{ radius_pihole_sync_sync_debounce_seconds }}
FULL_SYNC_INTERVAL_SECONDS={{ radius_pihole_sync_full_sync_interval_seconds | int }}

METRICS_LISTEN_IP={{ radius_pihole_sync_metrics_listen_ip }}
METRICS_LISTEN_PORT={{ radius_pihole_sync_metrics_listen_port | int }}
METRICS_PATH={{ radius_pihole_sync_metrics_path }}

LOG_LEVEL={{ radius_pihole_sync_log_level }}
