# Managed by Ansible (role: dpi-mgmt)

DPI_LISTEN_IP={{ dpi_mgmt_listen_ip }}
DPI_LISTEN_PORT={{ dpi_mgmt_listen_port | int }}
DPI_WEBHOOK_TOKEN={{ dpi_mgmt_webhook_token_effective | default(dpi_mgmt_webhook_token | default('')) }}
DPI_BLOCK_SECONDS={{ dpi_mgmt_block_seconds | int }}

DB_HOST={{ dpi_db_host }}
DB_PORT={{ dpi_db_port | int }}
DB_NAME={{ dpi_db_name }}
DB_USER={{ dpi_db_user }}
DB_PASSWORD={{ dpi_db_password }}
